
 html {
    position: relative;
    min-height: 100%;
    width: 100%;
}  
body {
	 width: 90%;
	 margin-left: 60px;
	 position: absolute;
	 background:#696969;
}
.header {
	  width: 100%;
	  text-align: center;
    margin-bottom: 4em;
    padding-bottom: 20px;
    font-family: Georgia, serif;
    text-shadow: 2px 2px #f5deb3;
    color:#ff4500;
    font-style: italic;
}
.links {
	  font-size: 1.0vw;
    color: white;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
    text-shadow: 2px 2px #f5deb3;
    padding-top: 20px;
    color: #ff4500;
}
a {
    padding-right: 40px;
    font-size: 20px;
    color: #ff7f50;
}
h2 {
	  font-style: italic;
    text-shadow: 2px 2px  #f5deb3;
    color: #ff4500;
}
.column1 {
	width: 1150px;
	text-indent: 30px;
	position: absolute;
	padding-bottom: 50px;
	text-align: center;
	color: #f5deb3;
}
h5 {
   padding-top: 50px;
   padding-bottom: 40px;
   padding-right: 10px;
   font-size: 1.2em;
}

img {
   margin-top: 25px; 
   float: left;
   padding: 10px 10px 10px 10px;
   margin-left: 90px;
   border: 5px solid #f5deb3;
}
.img1 {   
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
  margin-left: 570px;

}
.img2 {   
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
  margin-right: 530px;
}
.img3 {   
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 350px;
  left: 0;
  position: relative;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
  margin-left: 350px;
  margin-bottom: 390px;

}
p {
  font-size: 1.0em;
  text-align: center;
  padding-top: 60px;
}
.footer {
   position: absolute;
   top: 980px;
   width: 100%;
   height:100px;
   color: #f5deb3; 
   text-shadow: 1px 1px #ff4500; 
   text-align: center; 
   padding-top: 15px;
   padding-bottom: 20px; 
}
